{% extends 'management/base1.html' %}

{% block body_block %}
    <head>
        <title>ADD ISSUES</title>
        <style>
            #issues {
                color: hotpink;
                font-size: large;
                font-weight: bolder;
                font-style: italic;
                font-family: Helvetica, Tahoma, Arial;
            }
        </style>
    </head>
    <!----------------Body Section Start---------------------->

    <section class="contact_page">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 m-t-50">
                    <h1 class="underline heading"><b>SUBMIT ISSUES YOU ENCOUNTERED HERE</b></h1>
                </div>
            </div>

        </div>
    </section>
    <div class="container">
        <div class="container1">
            <div class="container2">
                <div style=" width: 400px; margin-left: 200px;">
                    <ul class="messages">
                        {% if messages %}
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                            {% endfor %}

                        {% endif %}
                    </ul>
                {% if form %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="submit" style="margin: 20px 120px"/>
                    </form>
                {% endif %}
                </div>
            </div>
        </div>
        <a href="#" id="return-to-top"><img src="../../static/myapp/images/backto.png" alt="image-missing"></a>
    </div>
    <!----------------Body Section End---------------------->
{% endblock %}

