{% extends 'management/base1.html' %}

{% block body_block %}
    <head>
        <meta charset="UTF-8">
        <title>HOME</title>
        <style>
            #home {
                color: hotpink;
                font-size: large;
                font-weight: bolder;
                font-style: italic;
                font-family: Helvetica, Tahoma, Arial;
            }
        </style>
    </head>
    <body>
    <!----------------Body Section Start---------------------->
    <section class="contact_page">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 m-t-50">
                    <h1 class="underline heading"><b>HOME</b></h1>

                </div>
            </div>

        </div>
    </section>
    <div class="container">
        <div class="container1"><img src="../../static/myapp/images/smoke.gif"style="margin-left: 60px"></div>
    </div>

    </body>
{% endblock %}