{% extends 'management/base1.html' %}

{% block body_block %}
    <head>
        <title>ALL MEMBERS</title>
        <style>
            #members {
                color: hotpink;
                font-size: large;
                font-weight: bolder;
                font-style: italic;
                font-family: Helvetica, Tahoma, Arial;
            }
        </style>
    </head>
    <!----------------Body Section Start---------------------->
    <section class="contact_page">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 m-t-50">
                    <h1 class="underline heading"><b>ALL MEMBERS INFORMATION</b></h1>
                </div>
            </div>

        </div>
    </section>
    <div class="container">
        <div class="container1">
            <ul>
            {% if Profiles %}
                {% for members in Profiles %}
                    <div class="container2">
                        <div style=" width: 400px; margin-left: 300px;">
                            <li><b>First Name: </b>{{ members.first_name }}  </li>
                            <li><b>Last Name: </b>{{ members.last_name }}</li>
                            <li><b>Email: </b>{{ members.email }}</li>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <br><div style="font-size: larger;text-align: center; margin-bottom: 20px">You do not have any members yet!</div>
            {% endif %}
            </ul>
        </div>
    </div>
    <!---	<div class="container">
            <div class="container1">
                <div class="leftpcontent">
                    <ul>
                        <p>Want to join us?</p>
                        <form class="profile_form" action="" method="post" name="profile_form">
                            <li>
                                <lable for="First Name">First Name:</lable>
                                <input type="text" name="First Name" placeholder="mica" required/>

                            </li>
                            <li>
                                <lable for="Last Name">Last Name:</lable>
                                <input type="text" name="Last Name" placeholder="zhang" required/>

                            </li>
                            <li>
                                <lable for="Email">Your Email:</lable>
                                <input type="text" name="Email" placeholder="mica.zhang@outlook.com" required/>

                            </li>
                            <li>
                                <lable for="Phone">Phone:</lable>
                                <input type="text" name="Phone" placeholder="647-907-8656" />

                            </li>
                            <li>
                                <button class="submit" type="submit">Submit Form</button>
                            </li>
                        </form>
                    </ul>
                </div>
                <div class="rightpcontent">
                    <ul>
                   <!--     <li><input align=right type="submit" value="Submit" align="right" width="300"></li>-->
    </ul>
    </div>
    <div>

    </div>

    </div>
    </div>

    <!----------------Body Section End---------------------->
{% endblock %}